*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #444;
    color: #fff;
}
#Contenedor {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}
header{
    height: 150px;
    background: #050031;
    background-image: url(img/Ãgoramall.jpg);
}
header h1{
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}
nav{
    max-width: 900px;
    margin: auto;
    background-color: #010f4e;
    font-size: 20px;
    margin-top: 10px;
    padding: 35px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 59px;
    color: #859bfd;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: red;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #859bfd;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: aliceblue;
}
.menu-vertical li a{
    display: block;
    color: #fff;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
#Contenido{
    width: 700px;
    height: 500px;
    float: left;
    background: blue;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#Contenido p{
    font-size: 20px;
    height: 100px;
    padding: 10px;
}
aside{
    width: 250px;
    height: 500px;
    background: rgb(190, 255, 190);
    margin-top: 10px;
    float: left;
}
aside img{
    font-size: 40px;
    text-align: center;
    height: 100px;
    margin-top: 150px;
}
footer{
    background: #000;
    clear: both;
}
footer h2{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}
.parrafonegro{
    color: #444;
}
.parah3{
    text-align: center;
    color: #000;
    padding: 10px;
}
table {
    border-collapse: collapse;
    width: 70%;
    text-align: left;
  }
  
  th, td {
    border: 1px solid black;
    padding: 13px;
    padding-right: 84px;
    text-align: left;
  }
  
  th {
    background-color: #c9c6c6;
    text-align: left;
  }
  
  td:nth-child(1) {
    width: 50px;
    height: 72px;
    padding: 10px;
    text-align: left;
  }
  
  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4) {
    width: 25%;
    margin: 100px;
  }
  
  td:nth-child(2) {
    text-align: center;
  }
  
  td:nth-child(3) {
    text-align: center;
  }
  
  td:nth-child(4) {
    text-align: center;
  }
.paraelul{
    text-align: center;
}
.parah5{
    text-align: center;
}
nav .redes{
    list-style: none;
    padding: 0%;
    background: #010f4e;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.redes li a{
    text-decoration: none;
    padding: 20px;
    display: block;
    color: aqua;
}
.redes li{
    display: inline-block;
    text-align: center;
    padding-left: 50px;
}
.redes li a:hover{
    background: #859bfd;
}
.paraimg{
    width: auto;
    height: 200px;
}