*{
    padding-left: 0;
    margin: 0;
}
body{
    background: #444;
    color: #fff;
}
#contenedor{
        width: 1366px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        overflow: hidden;
}
header{
    height: 150px;
    background: rgb(255, 136, 0);
}
header h1{
    line-height: 100px;
    font-size: 50px;
    text-align: center;
}    
nav{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    background:darkslategray;
    font-size: 20px;
    margin: auto;
    padding: 200px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 59px;
    color: rgba(255, 255, 255, 0.61);
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background: rgba(0, 51, 15, 0.712);
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background: rgba(0, 51, 15, 0.712);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: rgba(255, 255, 255, 0.61);
}
.menu-vertical li a{
    display: block;
    color: rgba(255, 255, 255, 0.61);
    padding: 15px 15px 15px 20px;
    text-decoration: none;
} 
#contenido3{
    width: 1400px;
    height: 900px;
    float: left;
    background: rgba(5, 226, 153, 0.137);
    text-align: left;
    padding-left: 80px;
}
.parah1{
    padding: 25px;
}
dt{
    font-size: 35px;
    padding-top: 35px;
}
.parah5{
    text-align: center;
}
nav .redes{
    list-style: none;
    padding: 0%;
    background: hsl(229, 97%, 15%);
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.redes li a{
    text-decoration: none;
    padding: 20px;
    display: block;
    color: aqua;
}
.redes li{
    display: inline-block;
    text-align: center;
    padding-left: 65px;
}
.redes li a:hover{
    background: #859bfd;
}